@media print {
    @page {
        size: A4 portait;
        margin: 3cm 2cm 4cm 2cm; /* top right bottom left */
    }
    body {
        font-family: 'Times New Roman', Times, serif;
       
    }
    span.label {
        display: block;
        font-weight: bold;
        margin-top: 0.3rem;
    }
    span.block {
        display: block;
    }
    .pagebreak {
        break-before: page;
    }
    table {
        width: 100%;
    }
    h1 {
        text-align: center;
    }
    h1, h2, h3, h4 {
        font-family: Arial, Helvetica, sans-serif;
    }
}